<div class="ui container">
	<ol class="ui breadcrumbs">
		<li><a href="/">Главная</a></li>
		<li>Контакты</li>
	</ol>

  <h1>Контакты</h1>
	<p>Все что от Вас требуется это позвонить по номеру телефона и записаться на удобное вам время:</p>
	<ul>
		<li>097-342-03-73 или 066-588-80-65 Инна</li>
		<li>099-370-56-99 или 093-072-03-83 Алина</li>
		<li>067-725-22-07 Юлия</li>
		<li>093-741-04-37 Яна</li>
		<li>063-199-95-63 Алина</li>
	</ul>

	<a href="mailto:info@etalon-horse.club">info@etalon-horse.club</a>
	
	<p>г.Боярка, ул. Чкалова 3-А. Маршрутка 825 с Теремков.</p>
	
	<h3>Мы в социальных сетях</h3>
	<div class="ui soc-links">
		<a target="_blank" rel="nofollow" href="{{siteConfig.vk}}"><i class="fa fa-vk" aria-hidden="true"></i></a>
		<a target="_blank" rel="nofollow" href="{{siteConfig.fb}}"><i class="fa fa-facebook-f" aria-hidden="true"></i></a>
	</div>
</div>

{{>contact-form}}

<div class="ui map">
	<div id="map"></div>
	<div class="legend">
		<ul>
			<li><i class="fa fa-map-marker" aria-hidden="true"></i> г.Боярка, ул. Чкалова 3-a.  Маршрутка 825 с Теремков.</li>
			<li><i class="fa fa-map-marker" aria-hidden="true"></i> г.Боярка, ул. Чкалова 3-a.  Маршрутка 825 с Теремков.</li>
			<li><i class="fa fa-map-marker" aria-hidden="true"></i> г.Боярка, ул. Чкалова 3-a.  Маршрутка 825 с Теремков.</li>
			<li><i class="fa fa-map-marker" aria-hidden="true"></i> г.Боярка, ул. Чкалова 3-a.  Маршрутка 825 с Теремков.</li>
			<li><i class="fa fa-map-marker" aria-hidden="true"></i> г.Боярка, ул. Чкалова 3-a.  Маршрутка 825 с Теремков.</li>
		</ul>
	</div>
</div>
