<div class="top-slider swiper-container">
	<div class="swiper-wrapper">
		<div class="swiper-slide">
			<img src="/images/top-slider/slide-1.jpg" alt="Etalon-horse.club">
		</div>
		<div class="swiper-slide">
			<img src="/images/top-slider/slide-2.jpg" alt="Etalon-horse.club">
		</div>
		<div class="swiper-slide">
			<img src="/images/top-slider/slide-3.jpg" alt="Etalon-horse.club">
		</div>
		<div class="swiper-slide">
			<img src="/images/top-slider/slide-4.jpg" alt="Etalon-horse.club">
		</div>
	</div>

	<div class="slider-button-prev"></div>
	<div class="slider-button-next"></div>
</div>

<section class="ui about container">
  {{{page.fulltext}}}
	<a href="/about" class="ui btn btn-default">Читать дальше</a>
</section>

<section class="services">
	<h2>Наши услуги</h2>
	
	<div class="ui container services-slider swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<div class="image-wrapper">
					<img src="/images/service-example.png" alt="">
				</div>
				<h3>тренировки по верховой езде</h3>
				<p>Lorem Ipsum is simply dummy text of the printing andtypesetting industry. Ipsum. Lorem Ipsum is simply</p>
				<div class="ui orange btn">Узнать больше</div>
			</div>
			<div class="swiper-slide">
				<div class="image-wrapper">
					<img src="/images/service-example.png" alt="">
				</div>
				<h3>тренировки по верховой езде</h3>
				<p>Lorem Ipsum is simply dummy text of the printing andtypesetting industry. Ipsum. Lorem Ipsum is simply</p>
				<div class="ui orange btn">Узнать больше</div>
			</div>
			<div class="swiper-slide">
				<div class="image-wrapper">
					<img src="/images/service-example.png" alt="">
				</div>
				<h3>тренировки по верховой езде</h3>
				<p>Lorem Ipsum is simply dummy text of the printing andtypesetting industry. Ipsum. Lorem Ipsum is simply</p>
				<div class="ui orange btn">Узнать больше</div>
			</div>
			<div class="swiper-slide">
				<div class="image-wrapper">
					<img src="/images/service-example.png" alt="">
				</div>
				<h3>тренировки по верховой езде</h3>
				<p>Lorem Ipsum is simply dummy text of the printing andtypesetting industry. Ipsum. Lorem Ipsum is simply</p>
				<div class="ui orange btn">Узнать больше</div>
			</div>
			<div class="swiper-slide">
				<div class="image-wrapper">
					<img src="/images/service-example.png" alt="">
				</div>
				<h3>тренировки по верховой езде</h3>
				<p>Lorem Ipsum is simply dummy text of the printing andtypesetting industry. Ipsum. Lorem Ipsum is simply</p>
				<div class="ui orange btn">Узнать больше</div>
			</div>
		</div>

		<div class="slider-button-prev"></div>
		<div class="slider-button-next"></div>
	</div>
</section>

<section class="ui coaches container">
	<h2>Наши инструктора</h2>
	<div class="coaches-list">
		<a href="#" class="item">
			<figure>
				<img src="/images/coach-example.png" alt="">
				<figcaption>Инна Крам</figcaption>
			</figure>
		</a>
		<a href="#" class="item">
			<figure>
				<img src="/images/coach-example.png" alt="">
				<figcaption>Юлия Заруда</figcaption>
			</figure>
		</a>
		<a href="#" class="item">
			<figure>
				<img src="/images/coach-example.png" alt="">
				<figcaption>Яна Заруда</figcaption>
			</figure>
		</a>
	</div>
	<a href="/coaches" class="ui btn btn-default">Читать дальше</a>
</section>

<div class="ui map">
	<div id="map" data-zoom="17"></div>
	<div class="text legend">
		<p>Все что от Вас требуется это позвонить по номеру телефона и записаться на удобное вам время:</p>
		<p>
			<strong>097-342-03-73 или 066-588-80-65 Инна</strong><br>
			<strong>099-370-56-99 или 093-072-03-83 Алина</strong><br>
			<strong>067-725-22-07 Юлия</strong><br>
			<strong>093-741-04-37 Яна</strong><br>
			<strong>063-199-95-63 Алина</strong>
		</p>
		<p>Запись предварительная.</p>
	</div>
</div>
