<div class="top-slider swiper-container">
	<div class="swiper-wrapper">
		<div class="swiper-slide">
			<img src="/images/top-slider/slide-1.jpg" alt="Etalon-horse.club">
		</div>
		<div class="swiper-slide">
			<img src="/images/top-slider/slide-2.jpg" alt="Etalon-horse.club">
		</div>
		<div class="swiper-slide">
			<img src="/images/top-slider/slide-3.jpg" alt="Etalon-horse.club">
		</div>
		<div class="swiper-slide">
			<img src="/images/top-slider/slide-4.jpg" alt="Etalon-horse.club">
		</div>
	</div>

	<div class="slider-button-prev"></div>
	<div class="slider-button-next"></div>
</div>

<div class="ui container">
  {{{page.fulltext}}}
</div>
