<div class="top-slider swiper-container">
	<div class="swiper-wrapper">
		<div class="swiper-slide">
			<img src="/images/top-slider/slide-1.jpg" alt="Etalon-horse.club">
		</div>
		<div class="swiper-slide">
			<img src="/images/top-slider/slide-2.jpg" alt="Etalon-horse.club">
		</div>
		<div class="swiper-slide">
			<img src="/images/top-slider/slide-3.jpg" alt="Etalon-horse.club">
		</div>
		<div class="swiper-slide">
			<img src="/images/top-slider/slide-4.jpg" alt="Etalon-horse.club">
		</div>
	</div>

	<div class="slider-button-prev"></div>
	<div class="slider-button-next"></div>
</div>

<div class="ui container">
  {{{page.fulltext}}}
	<a href="/about" class="ui btn btn-default">Читать дальше</a>
</div>

<div class="ui map">
	<div id="map" data-zoom="17"></div>
	<div class="text legend">
		<p>Все что от Вас требуется это позвонить по номеру телефона и записаться на удобное вам время:</p>
		<p>
			<strong>097-342-03-73 или 066-588-80-65 Инна</strong><br>
			<strong>099-370-56-99 или 093-072-03-83 Алина</strong><br>
			<strong>067-725-22-07 Юлия</strong><br>
			<strong>093-741-04-37 Яна</strong><br>
			<strong>063-199-95-63 Алина</strong>
		</p>
		<p>Запись предварительная.</p>
	</div>
</div>
