<div class="ui contact-form">
	<div class="ui container">
		
		<h3>Свяжитесь с нами воспользовавшись формой</h3>

		<form action="/contact-form" method="post">
			<div class="form-content">
				
				<input type="text" class="form-control" id="name" name="name" placeholder="Имя" required>

				<input type="tel" class="form-control" id="phone" name="phone" placeholder="Телефон">

				<input type="email" class="form-control" id="email" name="email" placeholder="Емейл" required>

				<textarea id="message" name="message" rows="6" class="form-control" placeholder="Сообщение" required></textarea>
			</div>

			<button type="submit" class="ui btn btn-default">Отправить</button>
		</form>
	</div>
</div>
