// Colors
$gold1: #e6d4a3 !default;
$brown1: #494540 !default;
$brown2: #676159 !default;
$brown3: #302f2e !default;
$brown4: #363431 !default;
$brown5: #3d3a37 !default;
$green1: #a4cf57 !default;
$orange1: #da9d32 !default;
$white1: #e2dad6 !default;

$header_bg: rgba($brown3, .72) !default;
$slider_buttons_bg: rgba($white1, .349) !default;

// Fonts
$font1: 'Open Sans', sans-serif !default;

// Sizes
$header_contacts_height: 4.5rem !default;
$header_menu_height: 9rem !default;

$footer_content_height: 8.9rem !default;
$footer_copyright_height: 6.6rem !default;

$container_desktop_width: 96rem !default;

// Responsive breakpoints
$desktop_size: 1025px !default;
