// Colors
$gold1: #e6d4a3 !default;
$brown1: #494540 !default;
$brown2: #676159 !default;
$brown3: #302f2e !default;
$brown4: #363431 !default;
$brown5: #3d3a37 !default;
$brown6: #403c38 !default;
$brown7: #605858 !default;
$green1: #a4cf57 !default;
$green2: #a6b750 !default;
$green3: #adbf4f !default;
$green4: #a2b447 !default;
$green5: #a5d057 !default;
$green6: #808f28 !default; 
$orange1: #da9d32 !default;
$orange2: #e2a53b !default;
$white1: #e2dad6 !default;
$grey1: #6a6968 !default;
$grey2: #e6e6e6 !default;
$grey3: #dcdcdc !default;
$grey4: #333333 !default;
$grey5: #f4f4f3 !default;
$black1: #2d2b29 !default;

$header_bg: rgba($brown3, .72) !default;
$slider_buttons_bg: rgba($white1, .349) !default;

// Fonts
$font1: 'Open Sans', sans-serif !default;

// Sizes
$header_contacts_height: 4.5rem !default;
$header_menu_height: 9rem !default;

$footer_content_height: 8.9rem !default;
$footer_copyright_height: 6.6rem !default;

$container_desktop_width: 96rem !default;

// Responsive breakpoints
$desktop_size: 1025px !default;
