.ui.description-list {
  font-size: 1rem;
  
  .item {
	display: flex;

	@media screen and (max-width: $desktop_size) {

	  @media screen and (orientation: landscape) {
		flex-direction: row;
		flex-wrap: nowrap;
	  }

	  @media screen and (orientation: portrait) {
		flex-direction: column;
	  }
	}

	@media screen and (min-width: $desktop_size) {
	  flex-direction: row;
	  flex-wrap: nowrap;
	}
	
	&:not(:last-child) {
	  margin-bottom: 5.7rem;
	}
	
	.image {

	  @media screen and (max-width: $desktop_size) {
		text-align: center;

		@media screen and (orientation: landscape) {
		  margin-right: 3.4rem;
		}

		@media screen and (orientation: portrait) {
		  margin-bottom: 3.4rem;
		}
	  }

	  @media screen and (min-width: $desktop_size) {
		width: 29.5rem;
		margin-right: 3.4rem;
	  }
	}
	
	.content {
	  
	}
	
	h4 {
	  margin: -.2rem 0 0;
	  font-size: 1.98em;
	  color: $green6;
	  text-transform: uppercase;
	  
	  a {
		color: inherit;
	  }
	}
	
	h5 {
	  margin: 1.8rem 0 0;
	  font-size: 1.6em;
	}
	
	p {
	  margin-top: 1.2rem;
	  margin-bottom: 1.8rem;
	  line-height: 1.5;
	}
  }
}
