.ui.map {
  font-size: 1rem;
  font-family: $font1;
  position: relative;
  width: 100vw;
  overflow: hidden;

  @media screen and (min-width: $desktop_size) {
	height: 57.7rem;
  }
  
  #map {

	@media screen and (max-width: $desktop_size) {
	  height: 57.7rem;
	}

	@media screen and (min-width: $desktop_size) {
	  height: 100%;
	}
  }
  
  .legend {
	border-top: 1.6em solid $green4;
	background-color: white;

	@media screen and (max-width: $desktop_size) {
	  padding-top: 3rem;
	  padding-bottom: 3rem;
	}

	@media screen and (min-width: $desktop_size) {
	  position: absolute;
	  top: 0;
	  bottom: 0;
	  right: calc(50vw - #{$container_desktop_width} / 2);
	  width: $container_desktop_width / 2;
	  box-shadow: 0 6px 5px 0 rgba(black, .47);
	}
  }
  
  ul {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
  }
  
  li {
	color: $grey4;
	font-size: 1.8em;
	height: 4.778em;
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
	
	&:hover,
	&.active {
	  background-color: #e8e8e8;
	}
  }
  
  .fa {
	color: $green5; 
	display: inline-block;
	flex: 0 1 90px;
	height: 100%;
	font-size: 35px;
	text-align: center;
	
	&:before {
	  line-height: 2.5;
	}
  }
  
  p {

	@media screen and (max-width: $desktop_size) {
	  padding: 0 1.5rem;
	}

	@media screen and (min-width: $desktop_size) {
	  padding: 0 4.4em;
	}
	
	&:not(:last-child) {
	  margin: 0 0 2.06rem;
	}
  }
}

.ui.map {

  .text.legend {
	border-color: $orange1;
	border-width: .8em;
	display: flex;
	flex-direction: column;
	justify-content: center;
  }
}
